/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/tmp/integration_repos/
*.bundle
*.so
*.o
*.a
mkmf.log
test.rb
.test_queue_stats

/ext/kanayago/ccan/check_type/check_type.h
/ext/kanayago/ccan/container_of/container_of.h
/ext/kanayago/ccan/list/list.h
/ext/kanayago/ccan/str/str.h
/ext/kanayago/constant.h
/ext/kanayago/encindex.h
/ext/kanayago/id.h
/ext/kanayago/id_table.h
/ext/kanayago/include/ruby/st.h
/ext/kanayago/internal.h
/ext/kanayago/internal/
/ext/kanayago/lex.c
/ext/kanayago/method.h
/ext/kanayago/node.c
/ext/kanayago/node.h
/ext/kanayago/node_name.inc
/ext/kanayago/parse.tmp.y
/ext/kanayago/parse.y
/ext/kanayago/parse.h
/ext/kanayago/parse.c
/ext/kanayago/parse.c.orig
/ext/kanayago/parser_bits.h
/ext/kanayago/parser_node.h
/ext/kanayago/parser_st.c
/ext/kanayago/parser_st.h
/ext/kanayago/parser_value.h
/ext/kanayago/probes.h
/ext/kanayago/ruby_assert.h
/ext/kanayago/ruby_atomic.h
/ext/kanayago/ruby_parser.c
/ext/kanayago/ruby_parser.c.rej
/ext/kanayago/rubyparser.h
/ext/kanayago/shape.h
/ext/kanayago/st.c
/ext/kanayago/symbol.h
/ext/kanayago/thread_pthread.h
/ext/kanayago/thread_win32.h
/ext/kanayago/universal_parser.c
/ext/kanayago/vm_core.h
/ext/kanayago/vm_opts.h
